body {
    font-family: Arial, sans-serif;
    background-color: #f2e6cc;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Stack navbar and form vertically */
    height: 100vh; /* Full viewport height */
    align-items: center;
}

.form-container {
    text-align: center;
    width: 98%;
    max-width: 500px;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    color: #333;
    text-align: left;
}

form input, form textarea, form button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
}

form button {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

form button:hover {
    background-color: #0056b3;
}
