/* Style the navigation */

body {    
    background-color: #f2e6cc;    
}



.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
}


.book {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
}


